In [20]:
#import python library
import pandas as pd;
import numpy as np;

#loading dataset into pandas framework
df = pd.read_csv("/home/student/23227 DSBDAL/PRACTICAL 1/archive/Walmart_Sales.csv")
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [21]:
#Handling missing values using .isnull().sum()
missing_values = df.isnull().sum()
print("Missing Values")
print(missing_values)

df.isna().any()

Missing Values
Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

Store           False
Date            False
Weekly_Sales    False
Holiday_Flag    False
Temperature     False
Fuel_Price      False
CPI             False
Unemployment    False
dtype: bool

In [15]:
#get initial statistics
statistics = df.describe(include = 'all')
print("Initial Statistics")
print(statistics)

Initial Statistics
              Store        Date  Weekly_Sales  Holiday_Flag  Temperature  \
count   6435.000000        6435  6.435000e+03   6435.000000  6435.000000
unique          NaN         143           NaN           NaN          NaN
top             NaN  05-02-2010           NaN           NaN          NaN
freq            NaN          45           NaN           NaN          NaN
mean      23.000000         NaN  1.046965e+06      0.069930    60.663782
std       12.988182         NaN  5.643666e+05      0.255049    18.444933
min        1.000000         NaN  2.099862e+05      0.000000    -2.060000
25%       12.000000         NaN  5.533501e+05      0.000000    47.460000
50%       23.000000         NaN  9.607460e+05      0.000000    62.670000
75%       34.000000         NaN  1.420159e+06      0.000000    74.940000
max       45.000000         NaN  3.818686e+06      1.000000   100.140000

         Fuel_Price          CPI  Unemployment
count   6435.000000  6435.000000   6435.000000
unique          NaN          NaN           NaN
top             NaN          NaN           NaN
freq            NaN          NaN           NaN
mean       3.358607   171.578394      7.999151
std        0.459020    39.356712      1.875885
min        2.472000   126.064000      3.879000
25%        2.933000   131.735000      6.891000
50%        3.445000   182.616521      7.874000
75%        3.735000   212.743293      8.622000
max        4.468000   227.232807     14.313000

In [16]:
# getting varaible descriptions
data_types = df.dtypes
print("Data Types of each column")
print(data_types)

Data Types of each column
Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

In [22]:
# Check the dimensions of the DataFrame
dimensions = df.shape
print("\nDimensions of the DataFrame (rows, columns):")
print(dimensions)

Dimensions of the DataFrame (rows, columns):
(6435, 8)

(6435, 8)

In [26]:
# Summarize variable types
character_vars = df.select_dtypes(include=['object']).columns.tolist()  # Character variables
numeric_vars = df.select_dtypes(include=['float64']).columns.tolist()    # Numeric variables
integer_vars = df.select_dtypes(include=['int64']).columns.tolist()      # Integer variables
boolean_vars = df.select_dtypes(include=['bool']).columns.tolist()        # Logical variables

print("\nSummary of Variable Types:")
print(f"Character Variables: {character_vars}")
print(f"Numeric Variables: {numeric_vars}")
print(f"Integer Variables: {integer_vars}")
print(f"Boolean Variables: {boolean_vars}")

Summary of Variable Types:
Character Variables: ['Date']
Numeric Variables: ['Weekly_Sales', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']
Integer Variables: ['Store', 'Holiday_Flag']
Boolean Variables: []

In [ ]:
# Summarize variable types